.page-section--footer {
    background: var(--color-variant-2);
    padding: 5rem 0;
    border-bottom: 1px solid #636363;
    @include Responsive(LG) {
        padding: 3rem 0;
    }

    &__item {
        &__title {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            color: #e6e6e7;
            @include Responsive(LG) {
                margin: 1rem 0 1rem 0;
            }
        }

        &__content {
            &--list {
                .page-section--footer__item__content__item {
                    padding-left: 1rem;
                    position: relative;

                    &::before {
                        content: '\f101';
                        font-family: FontAwesome, serif;
                        width: 1rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            &__item {
                margin-bottom: .6rem;
                color: lightgrey;
                font-size: .85rem;
                line-height: 1.5em;

                a {
                    color: lightgrey !important;
                }

                &__form {
                    .form-control {
                        background: gray;
                        font-style: italic;
                        color: lightgrey;

                        &::placeholder {
                            color: lightgrey;
                        }
                    }
                }
            }
        }

        &--email-contact {
            @include Responsive(LG) {
                width: 75%;
                margin: 0 auto 1rem auto;
                .page-section--footer__item__title, .page-section--footer__item__content__item {
                    text-align: center;
                }

            }
        }
    }
}

.copyright {
    color: lightgrey;
    border-top: 1px solid #0d0d0d;
}

#btn-scroll-top {
    background: var(--color-base);
    color: #ffffff;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    @extend .shadow-md-light;
    z-index: 999999;
}